DB_USER=root
DB_PASSWORD=pass
DB_HOST=localhost
DB_NAME=database

TEST_DB_USER=root
TEST_DB_PASSWORD=pass
TEST_DB_HOST=localhostTEST_DB_NAME=database_test

IA_API_KEY='SUA_KEY_GEMINI'

TWILIO_ACCOUNT_SID='SEU_ACCOUNT_ID_TWILIO'
TWILIO_AUTH_TOKEN='SEU_AUTH_TOKEN_TWILIO'
TWILIO_TEL_NUMBER='SEU_NUMERO_TWILIO'

EVOLUTION_API_URL='SEU_URL_EVOLUTION_API'
EVOLUTION_API_KEY='SUA_API_KEY_EVOLUTION_API'
EVOLUTION_INSTANCE_NAME='NOME_INSTANCIA_EVOLUTION_API'

# Dados para o usuário inicial (alimentar tabela 'users' via migration)
USER_NAME="Seu Nome"
USER_CPF="123.456.789-00"
USER_EMAIL="seu_email@example.com"
USER_PHONENUMBER="5511987654321"
USER_ZIP_CODE="01000-000"
USER_CITY="Sua Cidade"
USER_STATE="UF"