DB_USER=root
DB_PASSWORD=pass
DB_HOST=localhost
DB_NAME=database

IA_API_KEY='SUA_KEY_GEMINI'

TWILIO_ACCOUNT_SID='SEU_ACCOUNT_ID_TWILIO'
TWILIO_AUTH_TOKEN='SEU_AUTH_TOKEN_TWILIO'
TWILIO_TEL_NUMBER='SEU_NUMERO_TWILIO'