# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Database (generic)
*.sqlite3
*.db

# Logs
*.log

# Distribution / packaging
dist/
build/
*.egg-info/
